<form class="form-inline" >
  <%=form_for [:transfer, transaction] do |f| %>

    <div class="form-group">
      <%= f.label :from_id%>
      <%= f.collection_select :from_id, Account.all.find_all{|t| t.user == current_user}, :id, :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :to_id%>
      <%= f.collection_select :to_id, Account.all.find_all{|t| t.user == current_user}, :id, :name, class: 'form-control'%>
    </div>
    <div class="form-group">
      <%= f.label :transfer_date%>
      <%= f.text_field :transfer_date, 'data-provide' =>'datepicker', value: transaction.transfer_date.to_s ,class: 'datepicker form-control'%>
    </div>
    <div class="form-group">
      <%= f.label :description%>
      <%= f.text_field :description, placeholder: 'Description', class: 'form-control'%>
    </div>

    <%=f.submit class: 'btn btn-default'%>

    <script type="text/javascript">
    $(document).ready(function(){
      $('.datepicker').datepicker({
        format: "dd/mm/yyyy"
      });
    });
  </script>
  <%end%>
</form>
