<%=form_for [:transfer, transaction] do |f| %>

  <div class='form-group'>
    <%= f.label :amount%>
    <%= f.number_field :amount ,placeholder: 'Amount'%>
  </div>
  <%= f.label :from%>
  <%= f.collection_select :from_id, Account.all.find_all{|t| t.user == current_user}, :id, :name %>
  <%= f.label :to%>
  <%= f.collection_select :to_id, Account.all.find_all{|t| t.user == current_user}, :id, :name%>
  <%= f.text_field :description, placeholder: 'Description'%>
  <%= f.text_field :transfer_date, 'data-provide' =>'datepicker', value: transaction.transfer_date.to_s ,class: 'datepicker'%>

  <%=f.submit%>

  <script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({
      format: "yyyy/mm/dd"
    });
  });
</script>

<%end%>
