
<p>Account: <%=@outcome.account.name%></p>
<p>Amount: <%=@outcome.amount%></p>
<p>Description: <%=@outcome.description%></p>
<p>Payee: <%=@outcome.payee%></p>
<p>Category: <%=@outcome.category.name%></p>
<p>Transfer date: <%=@outcome.transfer_date.to_s%></p>
<p>Processed: <%=@outcome.processed%></p>
