
<%=form_for [:transfer, transaction] do |f| %>

  <div class='form-group'>
    <%= f.label :amount%>
    <%= f.number_field :amount ,placeholder: 'Amount',class: 'form-control'%>
  </div>
  <div class='form-group'>
    <%= f.label :account%>
    <%= f.collection_select :account_id, Account.all.find_all{|t| t.user == current_user}, :id, :name, transaction.from_id ? {selected: transaction.from_id} : {} %>
  </div>
  <div class='form-group'>
    <%= f.text_field :description, placeholder: 'Description',class: 'form-control'%>
  </div>
  <div class='form-group'>
    <%= f.text_field :transfer_date, 'data-provide' =>'datepicker', value: transaction.transfer_date.to_s ,class: 'datepicker'%>
  </div>
  <div class='form-group'>
    <%= f.text_field :payee, placeholder: 'Payee',class:'form-control'%>
  </div>
  <div>
    <%= f.select :category_id, grouped_options_for_select(MasterCategory.get_list_with_subcat(transaction)),selected: :category_id%>
  </div>
  <%=f.submit%>

  <script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({
      format: "dd/mm/yyyy"
    });
  });
</script>

<%end%>
