
<p>Account: <%=@income.account.name%></p>
<p>Amount: <%=@income.amount%></p>
<p>Description: <%=@income.description%></p>
<p>Payee: <%=@income.payee%></p>
<p>Category: <%=@income.category.name%></p>
<p>Transfer date: <%=@income.transfer_date.to_s%></p>
<p>Processed: <%=@income.processed%></p>
