
<%=render 'transfer/form', transaction: @transaction, income: @income, outcome: @outcome%>
<div id="accordion" role="tablist" aria-multiselectable="true">
  <%@accounts.each do |account|%>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=account.id.to_s%>" aria-expanded="true" aria-controls="collapseOne">
            <%=account.name%>
          </a>
        </h4>
      </div>
      <div id="collapse<%=account.id.to_s%>" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
        <h3> Most recent transactions</h3>
        <strong>Balance:</strong> <%=account.balance%>
        <%=link_to 'Show',account_path(account)%>
        <%=render 'transfer/table', transactions: account.get_recent_transfer(5)%>
        <!--- TODO: Legg til link for ny transaction. -->
      </div>
    </div>
  <%end%>
</div>
<%=link_to 'New account', new_account_path%>
